:root {
    --white: #FFFFFF;
    --red: #e30613;
    --gray: #67666a;
}


@font-face {
    font-family: 'Clan Pro';
    src: url('../fonts/FFClanProRegular.TTF') format('opentype');
}

@font-face {
    font-family: 'Clan Pro Medium';
    src: url('../fonts/FFClanProMedium.TTF') format('opentype');
}

@font-face {
    font-family: 'Clan Pro Bold';
    src: url('../fonts/FFClanProBold.TTF') format('opentype');
}

.regular {
    font-family: 'Clan Pro', sans-serif !important;
}

.medium {
    font-family: 'Clan Pro Medium', sans-serif !important;
}

.bold {
    font-family: 'Clan Pro Bold', sans-serif !important;
}


.text-white {
    color: var(--white) !important;
}

.bg-white {
    background-color: var(--white) !important;
}

.text-red {
    color: var(--red) !important;
}

.bg-red {
    background-color: var(--red) !important;
}

.text-gray {
    color: var(--gray);
}

.home-page {
    width: 100%;
    height: 100vh;
    background-image: url('../images/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 40%;
    color: var(--white);
}

.quizz-page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.home-mobile-wrapper {
    position: absolute;
    top: 20%;
    left: 5.5%;
    max-width: 550px;
}

.home-mobile-wrapper h1 {
    font-size: 60px;
}

.home-mobile-wrapper h2 {
    font-size: 36px;
    line-height: 1.3;
}

.start-button {
    position: absolute;
    top: 56%;
    left: 5.5%;
    width: 13%;
}

.home-logo {
    position: absolute;
    bottom: 5%;
    left: 5.5%;
    width: 10%;
}

.iceland-logo {
    position: absolute;
    top: 1%;
    left: 5.5%;
    width: 8%;
}

.outros-logo {
    position: absolute;
    bottom: 3%;
    left: 55.5%;
    width: 30%;
}

a {
    text-decoration: none !important;
}

.logo {
    position: absolute;
    top: 2%;
}

.logo img {
    width: 200px;
    height: auto;
}

.bold {
    font-weight: bold !important;
}

.h-60 {
    height: 60dvh !important;
}

.h-40 {
    height: 40dvh !important;
}

.quizz-next {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.quizz-next img {
    width: 300px;
    height: auto;
}

.ans button {
    background-image: url("../images/quiz_lpcc_materiais-33.png");
    width: 100%;
    height: 127px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 20px;
    background-color: transparent;
    border: none;
    text-align: left !important;
}

/* Samsung Galaxy A51/71: 412px */
@media screen and (min-width: 412px) and (max-width: 413px) {

    .mini-ans button,
    .ans button {
        width: 92% !important;
        height: 77px !important;
    }

    .mini-ans-right button,
    .ans-right button {
        width: 92% !important;
        height: 76px !important;
    }

    .mini-ans-wrong button,
    .ans-wrong button {
        width: 92% !important;
        height: 76px !important;
    }

    .my-w {
        border: 5px solid var(--white);
        width: 39% !important;
        margin-top: -21% !important;
    }

    .quizz-page .quizz-right {
        width: 100px !important;
    }

    .explanations h3 {
        font-size: 17px !important;
    }

    .font-size-19 {
        font-size: 12px !important;
        font-weight: 600 !important;
    }

    .explanations {
        position: absolute;
        top: 66%;
        left: 0;
        right: 0;
    }

    .quizz-question h2 {
        font-size: 27px;
    }

    .quizz-question h1 {
        font-size: 20px;
    }

    .home-page {
        width: 100%;
        height: 100vh;
        background-image: url('../images/home_mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right right;
        color: var(--white);
    }

    .home-page::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background-color: rgba(0, 0, 0, 0.5);*/
    }

    .home-mobile-wrapper {
        position: absolute;
        top: 65%;
        left: 10%;
        width: 324px;
    }

    .home-mobile-wrapper h1 {
        font-size: 30px;
    }

    .home-mobile-wrapper h2 {
        font-size: 20px;
    }

    .start-button {
        position: absolute;
        top: 83%;
        left: 22%;
        width: 50%;
    }

    .home-logo {
        position: absolute;
        bottom: 1%;
        left: 7%;
        width: 25%;
    }

    .logo img {
        width: 100px;
        height: auto;
    }

    .iceland-logo {
        position: absolute;
        top: 3%;
        left: 5.5%;
        width: 40%;
    }

    .outros-logo {
        position: absolute;
        bottom: 1%;
        left: 35.5%;
        width: 60%;
    }

}

/* iPhone XR: 414px */
@media screen and (min-width: 414px) and (max-width: 429px) {

    .mini-ans button,
    .ans button {
        width: 92% !important;
        height: 78px !important;
    }

    .mini-ans-right button,
    .ans-right button {
        width: 92% !important;
        height: 77px !important;
    }

    .mini-ans-wrong button,
    .ans-wrong button {
        width: 92% !important;
        height: 77px !important;
    }

    .my-w {
        border: 5px solid var(--white);
        width: 37% !important;
        margin-top: -21% !important;
    }

    .font-size-19 {
        font-size: 12px !important;
        font-weight: 600 !important;
    }

    .quizz-page .quizz-right {
        width: 100px !important;
    }

    .explanations h3 {
        font-size: 17px !important;
    }

    .explanations {
        position: absolute;
        top: 65%;
        left: 0;
        right: 0;
    }

    .quizz-question h2 {
        font-size: 27px;
    }

    .quizz-question h1 {
        font-size: 20px;
    }

    .home-page {
        width: 100%;
        height: 100vh;
        background-image: url('../images/home_mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right right;
        color: var(--white);
    }

    .home-mobile-wrapper {
        position: absolute;
        top: 65%;
        left: 10%;
        width: 324px;
    }

    .home-mobile-wrapper h1 {
        font-size: 30px;
    }

    .home-mobile-wrapper h2 {
        font-size: 20px;
    }

    .start-button {
        position: absolute;
        top: 83%;
        left: 22%;
        width: 50%;
    }

    .home-logo {
        position: absolute;
        bottom: 1%;
        left: 7%;
        width: 25%;
    }

    .logo img {
        width: 100px;
        height: auto;
    }

    .iceland-logo {
        position: absolute;
        top: 3%;
        left: 5.5%;
        width: 40%;
    }

    .outros-logo {
        position: absolute;
        bottom: 1%;
        left: 35.5%;
        width: 60%;
    }
}

/* iPhone 14 Pro Max: 430px */
@media screen and (min-width: 430px) and (max-width: 765px) {

    .home-page {
        width: 100%;
        height: 100vh;
        background-image: url('../images/home_mobile.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right right;
        color: var(--white);
    }

    .home-mobile-wrapper {
        position: absolute;
        top: 65%;
        left: 10%;
        width: 324px;
    }

    .home-mobile-wrapper h1 {
        font-size: 30px;
    }

    .home-mobile-wrapper h2 {
        font-size: 20px;
    }

    .start-button {
        position: absolute;
        top: 83%;
        left: 22%;
        width: 50%;
    }

    .home-logo {
        position: absolute;
        bottom: 1%;
        left: 7%;
        width: 25%;
    }

    .logo img {
        width: 100px;
        height: auto;
    }

    .iceland-logo {
        position: absolute;
        top: 3%;
        left: 5.5%;
        width: 40%;
    }

    .outros-logo {
        position: absolute;
        bottom: 1%;
        left: 35.5%;
        width: 60%;
    }

    .quizz-question h2 {
        font-size: 27px;
    }

    .quizz-question h1 {
        font-size: 26px;
    }

    .quizz-next img {
        width: 250px;
        height: auto;
    }

    .mini-ans button,
    .ans button {
        width: 92% !important;
        height: 81px !important;
    }

    .mini-ans-right button,
    .ans-right button {
        width: 92% !important;
        height: 80px !important;
    }

    .mini-ans-wrong button,
    .ans-wrong button {
        width: 92% !important;
        height: 80px !important;
    }

    .row {
        --bs-gutter-x: 0rem !important;
    }

    .font-size-19 {
        font-size: 12px !important;
        font-weight: 600;
    }

    .my-w {
        border: 5px solid var(--white);
        width: 37% !important;
        margin-top: -16% !important;
    }

    .magnifying-glass-wrapper {
        top: -75% !important;
    }

    .quizz-page .quizz-right {
        width: 100px !important;
    }

    .explanations h3 {
        font-size: 19px !important;
    }

    .explanations {
        position: absolute;
        top: 65%;
        left: 0;
        right: 0;
    }

}

/* Small display: 1300px */
@media screen and (min-width: 1100px) and (max-width: 1400px) {
    .home-page {
        background-position: center 20%;
    }

    .start-button {
        top: 65%;
    }

    .home-mobile-wrapper {
        top: 20%;
    }

    .home-mobile-wrapper h2 {
        font-size: 30px;
        line-height: 1.2;
    }

    .iceland-logo {
        top: 2%;
        left: 5.5%;
        width: 8%;
    }

    .outros-logo {
        bottom: 3%;
        left: 55.5%;
        width: 30%;
    }


    .mini-ans button {
        background-image: url("../images/quiz_lpcc-31.png") !important;
        width: 100% !important;
        height: 76px !important;
    }

    .ans button {
        width: 100% !important;
        height: 83px !important;
    }

    .mini-ans-right button {
        background-image: url("../images/quiz_lpcc-32.png") !important;
        width: 100% !important;
        height: 75px !important;
    }

    .ans-right button {
        width: 100% !important;
        height: 82px !important;
    }

    .mini-ans-wrong button {
        background-image: url("../images/quiz_lpcc-33.png") !important;
        width: 100% !important;
        height: 75px !important;
    }

    .ans-wrong button {
        width: 100% !important;
        height: 82px !important;
    }

    .quizz-page .quizz-right {
        width: 100px !important;
    }

    .quizz-next img {
        width: 200px;
        height: auto;
    }

    .quizz-question h2 {
        font-size: 27px;
    }

    .quizz-question h1 {
        font-size: 26px;
    }

    .explanations h3 {
        font-size: 19px !important;
    }

    .my-w {
        border: 5px solid var(--white);
        width: 15% !important;
        margin-top: -4% !important;
    }

    .magnifying-glass-wrapper {
        position: absolute;
        top: -20% !important;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: #6c757d;
        width: 75px !important;
        height: 75px !important;
        opacity: 0.5;
        z-index: 1;
    }

    .mini-ans .font-size-19 {
        font-size: 10px !important;
        font-weight: 600;
    }

}

.options-text-wrapper {
    width: 85%;
}


.mini-ans button {
    background-image: url("../images/quiz_lpcc_materiais-33.png");
    width: 100%;
    height: 61px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    padding-left: 20px;
    text-align: left !important;
}

.mini-ans .font-size-19 {
    font-size: 12px;
}

.ans-right button {
    background-image: url('../images/quiz_lpcc_materiais-32.png');
    width: 100%;
    height: 127px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    padding-left: 20px;
}

.mini-ans-right button {
    background-image: url('../images/quiz_lpcc_materiais-32.png');
    width: 100%;
    height: 61px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    text-align: left !important;
}

.ans-wrong button {
    background-image: url('../images/quiz_lpcc_materiais-31.png');
    width: 100%;
    height: 127px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    padding-left: 20px;
}

.mini-ans-wrong button {
    background-image: url('../images/quiz_lpcc_materiais-31.png');
    width: 100%;
    height: 61px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    text-align: left !important;
}

.ans button:hover {
    background-color: transparent;
}

.ans-right button:hover {
    background-color: transparent;
}

.ans-wrong button:hover {
    background-color: transparent;
}

.font-size-19 {
    font-size: 16px;
    line-height: 1.1;
}

.pointer {
    cursor: pointer !important;
}

.quizz-page .quizz-right {
    width: 200px;
}

.explanations h3 {
    font-size: 29px;
}

/* Estilos para o modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.modal img {
    max-width: 100%;
    max-height: 100%;
}

/* Estilos para fechar o modal */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.my-w {
    border: 5px solid var(--white);
    width: 18%;
    margin-top: -8%;
}

.pre-modal-img {
    position: relative;
}

.pre-modal-img i {
    color: var(--white);
    font-size: 48px;
    /* Ajuste o tamanho do ícone conforme necessário */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* Certifique-se de que o ícone fique sobre a imagem */
}

.magnifying-glass-wrapper {
    position: absolute;
    top: -160%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #6c757d;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    /* 50% de opacidade */
    z-index: 1;
    /* Certifique-se de que o círculo fique abaixo do ícone */
}

/* Ajuste opcional: adicione um efeito de transição para suavizar as mudanças de opacidade */
.magnifying-glass-wrapper:hover {
    opacity: 1;
    /* 100% de opacidade quando passa o mouse */
    transition: opacity 0.3s ease;
}